/* Write your CSS here */
.list-Item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  font-family: 'Roboto';
  font-size: 14px;
  color: #000000;
}
.button {
  border-radius: 10px;
  border-style: 1px;
  border-width: 1px;
  border-color: #ff0b37;
  font-family: 'Roboto';
  font-size: 10px;
  width: 70px;
  height: 28px;
  color: #ff0b37;
  margin-bottom: 5px;
}
